{% extends "base.html" %} {% block title %}DUE|LIST - Enlist!{% endblock %} {% block
content %}
<div class="container-fluid py-5 bg-secondary form up-a-bit shadow">
    <h1 class="display-5 fw-bold">Enlistment Form</h1>
    <hr />
    <p class="fs-5">
      <em>Create your account with us.</em>
    </p>
  <form method="POST" action="/enlist" enctype="multipart/form-data">
    <div class="form-group">
        {{ form.csrf_token }}
        {{ form.name.label(class_="text-info") }} {{ form.name(class_="form-control") }} <br>
        {{ form.email.label(class_="text-info") }} {{ form.email(class_="form-control") }} <br>
        {{ form.password.label(class_="text-info") }} {{ form.password(class_="form-control") }} <br>
        <button type="submit" class="btn btn-info btn-lg w-50 up-a-bit">Enlist! <i class="fas fa-user-plus"></i></button>
    </div>
    
  </form>
</div>
{% endblock content %}
