{% extends 'base.html' %}

{% block title %}DUE|LIST - Home{% endblock %}

{% block content %}
<div id="{% if current_user.is_authenticated %}splash{% endif %}" class="container-fluid bg-secondary form up-a-bit shadow">
    {% if not current_user.is_authenticated %}
    <h1 class="display-5 fw-bold">
        Create an account to get started making lists.
    </h1>
    <hr>
    <p class="fs-4">
        <em>Become a Duelist...</em>
    </p>
    <a class="btn btn-lg btn-info w-50 up-a-bit home-btn" href="{{ url_for('enlist') }}">
        Enlist!
        <i class="fas fa-user-plus"></i>
    </a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <h1 class="display-5 fw-bold">
        Hello there, {{ current_user.name }}!
    </h1>
    <hr>
    <p class="fs-4">
        <em>{{ greeting }}...</em>
    </p>
    <a class="btn btn-lg btn-info w-50 up-a-bit home-btn" href="{{ url_for('my_lists') }}">
        My Lists
        <i class="fas fa-stream"></i>
    </a>
    {% endif %}
</div>
{% endblock %}